<template name="nav">
  <div class="navbar-collapse collapse navbar-inverse navbar-fixed-top">
    <ul class="nav navbar-nav">
      <a class="navbar-brand" href="http://devplatform.soloschenko.org/" target="_blank">Modahunt</a>
      <li class="menu-goods active"><a href="/">Товары</a></li>
      <li class="menu-imports"><a href="/imports">Импорт товаров</a></li>
      <li class="menu-bookings"><a href="/bookings">Заказы</a></li>
      <li class="menu-settings"><a href="/settings">Настройки</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout">Выйти <span class="glyphicon glyphicon-log-out"></span></a></li>
    </ul>
  </div>
</template>